<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<h1>In progress PBI</h1>
<ul class="in_progress_pbi_list">
    {% for pbi in in_progress_pbi %}
        <li class="in_progress_pbi">
            {{ pbi }}
            <input type="checkbox" value={{ pbi.pbi_id }}>
        </li>
    {% endfor %}
</ul>
<button onclick="add_to_sprint()">Add</button>

<h1>PBI in current sprint</h1>
<ul class="current_sprint_pbi_list">
    {% for pbi in current_sprint_pbi %}
        <li class="current_sprint_pbi">
            {{ pbi }}
            <input type="checkbox" value={{ pbi.pbi_id }}>
        </li>
    {% endfor %}
</ul>
<button onclick="remove_from_sprint()">Remove</button>

<script>
    function generate_backlogs(data) {
        var in_progress_pbi_list_ele = $(".in_progress_pbi_list");
        var current_sprint_pbi_list_ele = $(".current_sprint_pbi_list");
        in_progress_pbi_list_ele.empty();
        current_sprint_pbi_list_ele.empty();
        for (pbi of data["in_progress_pbi"]) {
            var li_ele = $("<li/>", {
                'class': "in_progress_pbi",
                'text': JSON.stringify(pbi)
            })
            li_ele.append($("<input/>", {
                "type": "checkbox",
                "value": pbi.pbi_id
            }))
            in_progress_pbi_list_ele.append(li_ele)
        }
        for (pbi of data["current_sprint_pbi"]) {
            var li_ele = $("<li/>", {
                'class': "current_sprint_pbi",
                'text': JSON.stringify(pbi)
            })
            li_ele.append($("<input/>", {
                "type": "checkbox",
                "value": pbi.pbi_id
            }))
            current_sprint_pbi_list_ele.append(li_ele)
        }
    }

    function add_to_sprint() {
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
        var in_progress_pbi_DOM = $(".in_progress_pbi");
        checked_pbi = [];
        for (pbi_DOM of in_progress_pbi_DOM) {
            if ($(pbi_DOM).find("input").is(":checked")) {
                checked_pbi.push($(pbi_DOM).find("input").val());
            }
        }
        
        $.ajax({
            type: "POST",
            url: "{% url 'application:add_pbi_to_sprint' %}",
            data: {
                "pbi": JSON.stringify(checked_pbi)
            },
            dataType: 'json',
            success: (data) => {
                generate_backlogs(data);
            }
        });
        
    }

    function remove_from_sprint() {
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
        var current_sprint_pbi_DOM = $(".current_sprint_pbi");
        checked_pbi = [];
        for (pbi_DOM of current_sprint_pbi_DOM) {
            if ($(pbi_DOM).find("input").is(":checked")) {
                checked_pbi.push($(pbi_DOM).find("input").val());
            }
        }
        
        $.ajax({
            type: "POST",
            url: "{% url 'application:remove_pbi_from_sprint' %}",
            data: {
                "pbi": JSON.stringify(checked_pbi)
            },
            dataType: 'json',
            success: (data) => {
                generate_backlogs(data);
            }
        });
        
    }
</script>