/*styleSB.css*/
ul {
    list-style-type: none;
    height: 80px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(62, 68, 148);
    position: fixed;
    left:0;
    top:0;
    width:100%;
}
  
  
li a {
    display: inline;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
  
.icon{
    float: right;
    margin-right: 0;
    padding-right: 1;
}

.username{
    float: right;
    margin-left: 0;
    padding-left: 0px;
}

.inviteteam{
    float: right;
    margin-left:200;
}

.title{
    position: relative;
    float: left;
    left: 25px;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 0px;;
    
}

.logo{
    float: left;
    width: 75px;
    height: 50px;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 0px;
}

.vertical_nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 7%;
    background-color: #9174d6;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 5%;
    left:0;
    
  }
  
.vertical_nav_bar1 a {
    display: block;
    color: rgb(253, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 28px;    
    margin-top: 20px;
    margin-bottom: 20px;
  }

.title1{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 140px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
  }

.content{
    margin-left: 10%;
    margin-top: 5%;
}

.table{
    margin-top: 0px;
    margin-bottom: 20px;
    table-layout: fixed;
    word-wrap:break-word;
    margin-right: 50px;
}

td{
    text-align: center; 
    vertical-align: middle;
    padding: 10px 5px;
}

tr:nth-child(even) {
    background-color: #d7e9f8;
}

th {
    background-color: #aecff3;

}

.title2{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 140px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
  }

.storypoints{
    display: inline-block;
    margin-left: 62%;
}

.table1 td{
    text-align: center; 
    vertical-align: middle;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tableIcon{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}

.effortHour{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}

.remove{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}

.status{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}


button { 
    background-color: #4CAF50; /* Green */
    border: none;
    width: 150px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 0px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 12px;
    margin-left: 35%;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
  } 


  .doneButton{
      margin-top: 20px;
  }

  .container1{
    background-color: rgb(238, 217, 217);
    padding: 1px 3px;
    margin-top: 5px;
    width: 80%;
    margin-right: 40px;   
    text-align: center; 
}
/* set a style for all buttons*/ 
button { 
    background-color: #4CAF50; /* Green */
    border: none;
    width: 230px;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 0px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 12px;
    } 
    /*set styles for the cancel button*/ 
    .thiscancelbtn { 
        padding: 14px 20px; 
        background-color:#4CAF50;
    } 
    /*float cancel and signup buttons and add an equal width*/ 
    .thiscancelbtn, 
    .thisdeletebtn { 
        float: left; 
        margin-left:15%;
        width: 30%;
        padding: 14px 20px; 
    } 
    

    /*define the modal’s background*/ 
    
    .thismodal { 
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0, 0, 0); 
        background-color: rgba(0, 0, 0, 0.4); 
        padding-top: 60px; 
        z-index: 3;
    } 
    /*define the modal-content background*/ 
    
    .thismodal-content { 
        position: absolute;
        top: 40%;
        left: 53%;
        transform: translate(-50%, -50%);
        background-color: #fefefe; 
        margin: 5% auto 15% auto; 
        border: 1px solid #888; 
        width: 80%; 
        z-index: 3;
    } 
    /*define the close button*/ 
    
    .thisclose { 
        position: absolute; 
        right: 35px; 
        top: 200px; 
        color: #000; 
        font-size: 40px; 
        font-weight: bold; 
    } 
    /*define the close hover and focus effects*/ 
    
    .thisclose:hover, 
    .thisclose:focus { 
        color: red; 
        cursor: pointer; 
    } 
    
    .thisclearfix::after { 
        content: ""; 
        clear: both; 
        display: table; 
    } 
    
    @media screen and (max-width: 300px) { 
        .cancelbtn, 
        .signupbtn { 
            width: 100%; 
        } 
    } 

    .thiscontainer1 { 
    padding: 0px; 
    } 

    .thismodal-content1 {
    position: absolute;
    top: 40%;
    left: 53%;
    transform: translate(-50%, -50%);
    background-color: white; 
    margin: 5% auto 15% auto; 
    border: 1px solid #888; 
    width: 50%;  
    } 

    .thismodal-title {
    background-color: rgba(255, 167, 126, 0.685);
    padding: 25px;
    margin-top: 0px;
    }

    .text-center{
    margin-top: 30px;
    }

    input[type=text]{
        width: 90%; 
        padding: 12px 20px; 
        margin: 8px 50px; 
        display: inline-block; 
        border: 2px solid #ccc; 
        box-sizing: border-box; 
    }
    