ul {
    list-style-type: none;
    height: 80px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(62, 68, 148);
    position: fixed;
    left:0;
    top:0;
    width:100%;
}
  
  
li a {
    display: inline;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
  
.icon{
    float: right;
    margin-right: 0;
    padding-right: 1;
}

.username{
    float: right;
    margin-left: 0;
    padding-left: 0px;
}

.inviteteam{
    float: right;
    margin-left:200;
}

.title{
    position: relative;
    float: left;
    left: 25px;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 0px;;
    
}

.logo{
    float: left;
    width: 75px;
    height: 50px;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 0px;
}

.vertical_nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 7%;
    background-color: #9174d6;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 5%;
    left:0;
    
  }
  
.vertical_nav_bar1 a {
    display: block;
    color: rgb(253, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 28px;    
    margin-top: 20px;
    margin-bottom: 20px;
<<<<<<< HEAD:static/style/navbar.css
}
=======
  }

.title1{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 140px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
  }

.content{
    margin-left: 10%;
    margin-top: 5%;
}

.table{
    margin-top: 0px;
    margin-bottom: 20px;
    table-layout: fixed;
    word-wrap:break-word;
    margin-right: 50px;
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    text-align: center; 
    vertical-align: middle;
    padding: 10px 5px;
}

tr:nth-child(even) {
    background-color: #d7e9f8;
}

th {
    background-color: #aecff3;

}

.title2{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 140px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
  }

.storypoints{
    display: inline-block;
    margin-left: 45%;
}

.table1 td{
    text-align: left; 
    vertical-align: middle;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tableIcon{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}

.effortHour{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}
>>>>>>> 0495a140877448528da8dad9dae9ecff0edfb2d5:static/style/styleSB.css
