/*style.css*/

.content{
    margin-left: 10%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    width: 230px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
  }

.button_block{
    margin-left: 20%;

}

.button1{
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

.button2{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    display: inline-block;
    
}

#checkbox{
    margin-left: 50px;
    margin-top: 45px;
    position: relative;
    display: inline-block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}

input[type=checkbox] {
    transform: scale(1.75);
}

.table{
    margin-top: 0px;
    margin-bottom: 20px;
    table-layout: fixed;
    word-wrap:break-word;
    margin-right: 50px;
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    text-align: center; 
    vertical-align: middle;
    padding: 10px 5px;
}

.title1{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 1000px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-left: 5%;
    padding-left: 10px;
}


.title2{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 400px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-left: 3%;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
}

.table1{
    display: inline-block;
    table-layout: fixed;
    word-wrap: break-word;
    margin-top: 0px;
    margin-right:0px;
    vertical-align: top;
    border-collapse: collapse;
    border: 1px solid black;
}

.title3{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 400px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-left: 20%;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
}

.table2{
    display: inline-block;
    margin-left: 10%;
    table-layout: fixed;
    word-wrap: break-word;
    width: 600px;
    vertical-align: top;
    margin-right: 50px;
    border-collapse: collapse;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #d7e9f8;
}

th {
    background-color: #aecff3;

}

