/*styleS1.css*/

.content{
    margin-left: 10%;
}

/*style.css*/
table{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
    table-layout: fixed;
    word-wrap:break-word;
    margin-right: 50px;
    border-collapse: collapse;
}

td{
    text-align: center; 
    vertical-align: middle;
    padding: 20px 5px;
}

tr:nth-child(even) {
    background-color: #d7e9f8;
}

th {
    background-color: #aecff3;
    padding: 20px 5px;

}

img{
    padding-top: 50px;
}

.progress{
    height: 200px;
    width: 95%;
    background-color: blue;
}
