/*styleSB.css*/
ul {
    list-style-type: none;
    height: 80px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(62, 68, 148);
    position: fixed;
    left:0;
    top:0;
    width:100%;
}
  
  
li a {
    display: inline;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
  
.icon{
    float: right;
    margin-right: 0;
    padding-right: 1;
}

.username{
    float: right;
    margin-left: 0;
    padding-left: 0px;
}

.inviteteam{
    float: right;
    margin-left:200;
}

.title{
    position: relative;
    float: left;
    left: 25px;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 0px;;
    
}

.logo{
    float: left;
    width: 75px;
    height: 50px;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 0px;
}

.vertical_nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 7%;
    background-color: #9174d6;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 5%;
    left:0;
    
  }
  
.vertical_nav_bar1 a {
    display: block;
    color: rgb(253, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 28px;    
    margin-top: 20px;
    margin-bottom: 20px;
  }

.title1{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 140px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
  }

.content{
    margin-left: 10%;
    margin-top: 5%;
}

.projects{
    height: 200px;
    width: 95%;
    background-color: white;
    border: 1px solid black;
}

div.project1 {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 150px;
    width: 200px;
    background-image: url('../project.jpg');
    background-size: cover;
    position: relative;
}

.fas.fa-database{
    padding-top: 5px;
    font-size:36px;
    position: absolute;
    left: 10px;
    bottom: 10px;


}

#icon{
    padding-top: 5px;
    font-size:36px;
    left: 60px;
    position: absolute;
    bottom: 10px;
}

.table{
    margin-top: 0px;
    margin-bottom: 20px;
    table-layout: fixed;
    word-wrap:break-word;
    margin-right: 50px;
    border: 1px solid black;
}

td{
    text-align: center; 
    vertical-align: middle;
    padding: 10px 5px;
}

tr:nth-child(even) {
    background-color: #d7e9f8;
}

th {
    background-color: #aecff3;

}

.title2{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 140px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
  }

.storypoints{
    display: inline-block;
    margin-left: 45%;
}

.table1 td{
    text-align: left; 
    vertical-align: middle;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tableIcon{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}

.effortHour{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}



#checkbox{
    margin-left: 20%;
    margin-top: 45px;
    position: relative;
    display: inline-block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}

input[type=checkbox] {
    transform: scale(1.75);
}

.table{
    margin-top: 0px;
    margin-bottom: 20px;
    table-layout: fixed;
    word-wrap:break-word;
    margin-right: 50px;
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    text-align: center; 
    vertical-align: middle;
    padding: 10px 5px;
}

.title1{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 1000px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-left: 5%;
    padding-left: 10px;
}

tr:nth-child(even) {
    background-color: #d7e9f8;
}

th {
    background-color: #aecff3;

}

@media only screen and (max-width: 1085px) {
    body {
       width: 50%;
    }
  }

  input[type=text] { 
      width: 100%; 
      padding: 12px 20px; 
      margin: 8px 0; 
      display: inline-block; 
      border: 2px solid #ccc; 
      box-sizing: border-box; 
  } 
  /* set a style for all buttons*/ 
  button { 
    background-color: #4CAF50; /* Green */
    border: none;
    width: 230px;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 0px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 12px;
  } 
  /*set styles for the cancel button*/ 
  .cancelbtn { 
      padding: 14px 20px; 
      background-color:#4CAF50;

  } 
  /*float cancel and signup buttons and add an equal width*/ 
  .cancelbtn, 
  .signupbtn { 
      float: left; 
      margin-left:15%;
      width: 30%;
  } 

  
  /*add padding to container elements*/ 
  .container { 
      padding: 16px; 
  } 
  /*define the modal’s background*/ 
    
  .modal { 
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0; 
      top: 0; 
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0, 0, 0); 
      background-color: rgba(0, 0, 0, 0.4); 
      padding-top: 60px; 
  } 
  /*define the modal-content background*/ 
    
  .modal-content { 
      background-color: #fefefe; 
      margin: 5% auto 15% auto; 
      border: 1px solid #888; 
      width: 80%; 
  } 
  /*define the close button*/ 
    
  .close { 
      position: absolute; 
      right: 35px; 
      top: 80px; 
      color: #000; 
      font-size: 40px; 
      font-weight: bold; 
  } 
  /*define the close hover and focus effects*/ 
    
  .close:hover, 
  .close:focus { 
      color: red; 
      cursor: pointer; 
  } 
    
  .clearfix::after { 
      content: ""; 
      clear: both; 
      display: table; 
  } 
    
  @media screen and (max-width: 300px) { 
      .cancelbtn, 
      .signupbtn { 
          width: 100%; 
      } 
  } 

.container1 { 
    padding: 0px; 
} 
.modal-content1 { 
    background-color: white; 
    margin: 5% auto 15% auto; 
    border: 1px solid #888; 
    width: 50%;  
} 
.modal-title {
    background-color: rgba(255, 167, 126, 0.685);
    padding: 25px;
    margin-top: 0px;
}

.text-center{
    margin-top: 30px;
}

.cancelbtn, 
  .editbtn { 
      float: left; 
      margin-left:15%;
      width: 30%;
  } 


