/*styleSB.css*/
ul {
    list-style-type: none;
    height: 80px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(62, 68, 148);
    position: fixed;
    left:0;
    top:0;
    width:100%;
}
  
  
li a {
    display: inline;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
  
.icon{
    float: right;
    margin-right: 0;
    padding-right: 1;
}

.username{
    float: right;
    margin-left: 0;
    padding-left: 0px;
}

.inviteteam{
    float: right;
    margin-left:200;
}

.title{
    position: relative;
    float: left;
    left: 25px;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 0px;;
    
}

.logo{
    float: left;
    width: 75px;
    height: 50px;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 0px;
}

.vertical_nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 7%;
    background-color: #9174d6;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 5%;
    left:0;
    
  }
  
.vertical_nav_bar1 a {
    display: block;
    color: rgb(253, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 28px;    
    margin-top: 20px;
    margin-bottom: 20px;
  }

.title1{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 140px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
  }

.content{
    margin-left: 10%;
    margin-top: 5%;
}

.table{
    margin-top: 0px;
    margin-bottom: 20px;
    table-layout: fixed;
    word-wrap:break-word;
    margin-right: 50px;
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    text-align: center; 
    vertical-align: middle;
    padding: 10px 5px;
}

tr:nth-child(even) {
    background-color: #d7e9f8;
}

th {
    background-color: #aecff3;

}

.title2{
    background-color: rgb(173, 79, 173);
    color: white;
    height: 25px;
    width: 140px;
    margin-bottom: 0px;
    padding-top: 2px;
    margin-top: 30px;
    display: inline-block;
    padding-left: 10px;
  }

.storypoints{
    display: inline-block;
    margin-left: 62%;
}

.table1 td{
    text-align: left; 
    vertical-align: middle;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tableIcon{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}

.effortHour{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}

.remove{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}

.status{
    text-align: middle; 
    vertical-align: middle;
    padding-left: 50px;
}


button { 
    background-color: #4CAF50; /* Green */
    border: none;
    width: 150px;
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    display: inline-block;
    margin: 8px 0px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 12px;
    margin-left: 40%;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
  } 

  .addButton{
    width: 125px;
    margin-left: 41%;
  }

  .removeButton{
      margin-top: 20px;
  }

  .startsprint{
      margin-left: 33%;
      margin-top: 2%;
  }
  
  .endsprint{
     margin-left: 3%;
     margin-top: 2%;
  }
  .horizontal_view{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    width: 95%;
    flex-wrap: wrap;
    margin-left: 15%
}

.container1{
    background-color: rgb(233, 233, 233);
    width:30%; 
    padding: 1px 3px;
    margin-top: 5px;
    border-radius: 12px;
    margin-right: 40px;
    text-align: center;
}