{% extends 'common/base.html' %}

{% block content %}
<head>
    <title> Dashboard </title>
    <link rel="stylesheet" type="text/css" href="/static/style/styleDB.css">
</head>

<body>
    <ul class="vertical_nav_bar">
        <li class="vertical_nav_bar1"><a class ="dashboard" href="#"><i class='fas fa-home'></i></a></li>
        <li class="vertical_nav_bar1"><a class ="pb" onclick="document.getElementById('id01').style.display='block'" onmouseover="" style="cursor: pointer;"><i class='fas fa-plus'></i></a></li>
    </ul>

    <nav>
        <ul>
                <li><img class="logo" src= "/static/logo_transparent.png"  alt= "logo"></li>      
                <li><a class="title">Dashboard</a></li>                     
                <li><a class="username">{{user_name}}</a></li>
                <li><a class="icon"><i class='fas fa-user'></i></a></li>
                {% if user_role == 'PO' %}
                <li><a class= "inviteteam">Invite Team </a></li>   
                {% endif %} 
        </ul>         
    </nav>

    <div class="content">
        <h4 class="title1">Projects</h4>
        
        <div class="projects">
            {% for project in project_list %}
            <div class="project1">
                <div style='font-size:3rem'> <b>{{ project.project_name }}</b> </div>
                <div style='font-size:1rem;padding:10px'> <b>{{ project.project_description }}</b> </div>
                <div>
                    <a class ="pb" href="/{{ project.project_id }}/productbacklogs/"><i class='fas fa-database'></i></a>
                    <a class ="sprint_pb" href="/{{ project.project_id }}/sprintlist/"><i class='far fa-calendar-alt' id="icon"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div id="id01" class="modal"> 
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
            <form class="modal-content animate" action="/create_project/" method= "POST"> 
            {% csrf_token %}
                <div class="container"> 
                    <label><b>Create New Project</b></label> 
                    <input type="text" placeholder="Enter Project Name" name="project_name" required> 
                    <input type="text" placeholder="Enter Project Description" name="project_desc" required> 

                    <div class="clearfix"> 
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> 
                        <button type="submit" class="signupbtn" value="PBI">Create</button> 
                    </div> 
                </div> 
            </form> 
        </div> 
    </div>
</body>

<!--close the modal by just clicking outside of the modal-->
<script> 
        var modal = document.getElementById('id01'); 
        var modal1 = document.getElementsByClassName('modal'); 

        window.onclick = function(event) { 
            if (event.target == modal) { 
                modal.style.display = "none"; 
            }else if (event.target == modal1){
                modal1.style.display = "none"; 
            }
        }       
</script> 
        
    

{% endblock %}