{% extends 'common/base.html' %}
{% block title %}Invite Team{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/style/invite.css">

</head> 

<div class="content">
    <ul class="vertical_nav_bar">
        <li class="vertical_nav_bar1"><a class ="dashboard" href="/all_projects" title="Dashboard" ><i class='fas fa-home'></i></a></li>
        <li class="vertical_nav_bar1"><a class ="signout" href="#signout" title="Log out"><i onclick="document.getElementById('signoutModal').style.display='block'"class='fas fa-sign-out-alt'></i></a></li>
    </ul>

    <nav>
        <ul>
            <li><img class="logo" src= "/static/logo_transparent.png"  alt= "logo"></li>
            {% if user_role == "PO"%}      
            <li><a class="title">Invite Team</a></li>   
            {% else %}
            <li><a class="title">Current Team</a></li>
            {% endif %}                  
            <li><a class="username">{{user_name}}</a></li>
            <li><a class="icon"><i class='fas fa-user'></i></a></li>
        </ul>         
    </nav>
    {% if user_role == "PO" and project_end == 0 %}
    <h4 class="title1">Developer</h4>
    <table class="table in_progress_pbi_list" style="width:80%">
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="45%">Email</th>
            <th width="5%">Invited</th>
            <th width="10%">Select</th>
        </tr>
        </thead>
        {% for z in dev %}
        <tbody style="background-color: burlywood;">
            <tr class="in_progress_pbi">
            <td scope="row">{{z.name}}</td>
            <td>{{z.email}}</td>
            <td>No</td>
            <td> <input type= 'checkbox'name="user_id" value="{{z.user_id}}"></td>
            </tr>
        </tbody>
        {% endfor %}

        {% for z in dev_invited %}
        <tbody style="background-color: burlywood;">
            <tr class="in_progress_pbi">
            <td scope="row">{{z.name}}</td>
            <td>{{z.email}}</td>
            <td>Yes</td>
            <td> <input type= 'checkbox'name="user_id" value="{{z.user_id}}" disabled></td>
            </tr>
        </tbody>
        {% endfor %}  
    </table>

    <h4 class="title1">Scrum Master</h4>
    <table class="table in_progress_pbi_list" style="width:80%">
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="45%">Email</th>
            <th width="5%">Invited</th>
            <th width="10%">Select</th>
        </tr>
        </thead>

        {% for i in scrum_master %}
        <tbody style="background-color:rgb(212, 161, 161);">
            <tr class="in_progress_pbi">
            <td scope="row">{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>No</td>
            {% if scrum_master_invited == "" and scrum_master_exist == ""%}
            <td> <input type= 'checkbox' class="smcheckbox" name="user_id" value="{{i.user_id}}" ></td>
            {% else %}
            <td> <input type= 'checkbox' name="user_id" value="{{i.user_id}}" disabled></td>
            {% endif %}
            </tr>
        </tbody>
        {% endfor %}

        {% if scrum_master_invited != "" %}
        <tbody style="background-color:rgb(212, 161, 161);">
            {% for sm in scrum_master_invited %}
            <tr class="in_progress_pbi">
            <td scope="row">{{sm.name}}</td>
            <td>{{sm.email}}</td>
            <td>Yes</td>
            <td> <input type= 'checkbox' name="user_id" value="{{i.user_id}}" disabled></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <button type="submit" class="send" name="send" onclick="sendInvites()">Invite</button> 
    <input type="hidden" id="project_id_" value={{project_id}}>
    
    <h2 class="container1">Current Team</h2>
    {% endif %}
    {% if user_role != 'PO' %}
    <h4 class="title1">Product Owner</h4>
    <table class="table in_progress_pbi_list" style="width:80%;">
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="45%">Email</th>
        </tr>
        </thead>
        
        <tbody style="background-color: burlywood;">
                <tr class="in_progress_pbi">
                <td scope="row">{{ po.user_id.name }}</td>
                <td>{{ po.user_id.email }}</td>
                </tr>
        </tbody>
        
       

    </table>
    {% endif %}

    <h4 class="title1">Developer</h4>
    <table class="table in_progress_pbi_list" style="width:80%;">
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="45%">Email</th>
        </tr>
        </thead>
        
        <tbody style="background-color: burlywood;">
            {% for dev in dev_exist %}
                <tr class="in_progress_pbi">
                <td scope="row">{{ dev.name }}</td>
                <td>{{ dev.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h4 class="title1">Scrum Master</h4>
    <table class="table in_progress_pbi_list" style="width:80%">
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="45%">Email</th>
        </tr>
        </thead>
       
        <tbody style="background-color:rgb(212, 161, 161);">
            {% for sm in scrum_master_exist %}
                <tr class="in_progress_pbi">
                <td scope="row">{{ sm.name }}</td>
                <td>{{ sm.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

</div>

<script>
    $('.smcheckbox').on('change', function() {
        $('.smcheckbox').not(this).prop('checked', false);  
    });
    
    function sendInvites(){
        var checked_user_id = document.querySelectorAll('input[name=user_id]:checked');
        var checked_user_id2 = [];
        for (var x = 0; x < checked_user_id.length; x++){
            checked_user_id2[x] = checked_user_id[x].value;
        }
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        $.ajax({
            type: "POST",
            url: "{% url 'application:add_to_team' %}",
            data: {
                "user_id_s": JSON.stringify(checked_user_id2),
                "project_id": {{project_id}}
            },
            dataType: 'json',
            success: function(result){
                window.location="{% url 'application:all_project_list' %}"
            }
        });
    }
</script>

{% endblock %}
