{% extends 'common/base.html' %}
{% block title %}Invite Team{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/style/invite.css">

</head> 

<div class="content">
    <h4 class="title1">Developer</h4>
    <table class="table in_progress_pbi_list" style="width:80%">
        <!--Table head-->
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="50%">Email</th>
            <th width="10%">Select</th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        {% for z in dev %}
        <tbody style="background-color: burlywood;">
            <tr class="in_progress_pbi">
            <td scope="row">{{z.name}}</td>
            <td>{{z.email}}</td>
            <td> <input type= 'checkbox'name="user_id" value="{{z.user_id}}" ></td>
            </tr>
        </tbody>
        {% endfor %}
        
    </table>
    <!--Table-->
    

   
    {% if scrum_master_exist == 0 %}
    <h4 class="title1">Scrum Master</h4>
    <table class="table in_progress_pbi_list" style="width:80%">
        <!--Table head-->
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="50%">Email</th>
            <th width="10%">Select</th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        {% for i in scrum_master %}
        <tbody style="background-color:rgb(212, 161, 161);">
            <tr class="in_progress_pbi">
            <td scope="row">{{i.name}}</td>
            <td>{{i.email}}</td>
            <td> <input type= 'radio' name="user_id" value="{{i.user_id}}" ></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
    <!--Table-->
    <button type="submit" class="send" name="send" onclick="sendInvites()">Add to project</button> 
    <input type="hidden" id="project_id_" value={{project_id}}>

    {% if messages %}
    <div style="text-align: center">
        {% for message in messages %}
            <span style="color: red; text-align: center;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
    </div><br>
    {% endif %}

</div>

<script>
    
    
    function sendInvites(){
        var checked_user_id = document.querySelectorAll('input[name=user_id]:checked');
        var checked_user_id2 = [];
        for (var x = 0; x < checked_user_id.length; x++){
            checked_user_id2[x] = checked_user_id[x].value;
        }
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        $.ajax({
            type: "POST",
            url: "{% url 'application:add_to_team' %}",
            data: {
                "user_id_s": JSON.stringify(checked_user_id2),
                "project_id": {{project_id}}
            },
            dataType: 'json',
            success: function(result){
                window.location="{% url 'application:all_project_list' %}"
            }
        });
    }



</script>

{% endblock %}
