<head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>

Invite team page
<!-- <form action="" method="POST"> -->
    {% if scrum_master_exist == 0 %}
    <table>
    
        <p>Scrum master</p>
    {% for i in scrum_master %}

        <tr>
            <th><p>{{i.user_id}}</p></th>
            <th><p>{{i.name}}</p></th>
            <th><input type="checkbox" name="user_id" value="{{i.user_id}}"></th>
        </tr>

    {% endfor %}
    
    </table>
    
    <p>---------------------</p>
    {% endif %}
    <table>

        <p>Dev team member</p>

    {% for z in dev %}
        <tr>
            <th><p>{{z.user_id}}</p></th>
            <th><p>{{z.name}}</p></th>
            <th><input type="checkbox" name="user_id" value="{{z.user_id}}"></th>
        </tr>
    {% endfor %}
    </table>

    <button type="submit" class="send" name="send" onclick="sendInvites()">Add to project</button> 
    <input type="hidden" id="project_id_" value={{project_id}}>


    <!-- {% for z in notification %}
    <p>{{z.messages}}</p>
    {% endfor %} -->
<!-- </form> -->


<script>
    
    
    function sendInvites(){
        var checked_user_id = document.querySelectorAll('input[name=user_id]:checked');
        var checked_user_id2 = [];
        for (var x = 0; x < checked_user_id.length; x++){
            checked_user_id2[x] = checked_user_id[x].value;
        }
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        $.ajax({
            type: "POST",
            url: "{% url 'application:add_to_team' %}",
            data: {
                "user_id_s": JSON.stringify(checked_user_id2),
                "project_id": {{project_id}}
            },
            dataType: 'json'
           
        });
    }



</script>