{% extends 'common/base.html' %}

{% block content %}
<head>
    <title> Product Backlogs </title>
    <link rel="stylesheet" type="text/css" href="/static/style/style1.css">
</head>

<div class = "content">
    <div class ="button_block">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="button2">Create User Story</button>
        <p id="checkbox">Full View    <input type="checkbox" name="fullview" value="fullview" ></p><br>
    </div>


    <div class= "tabulator">
    <h4 class="title1">Product Backlogs(Current View)</h4>

    <!--Table-->
    <table class="table">
        <!--Table head-->
        <thead>
            <tr>
            <th width="5%">#No</th>
            <th width="35%">User Story </th>
            <th width="5%">Sprint</th>
            <th width="5%">Story Point</th>
            <th width="20%">Cumulative Story Point</th>
            <th width="10%">Priority</th>
            <th width="10%">Status</th>
            <th width="10%">Action</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            <tr>
                <td scope="row">1</td>
                <td>As a product owner, I want to create PBI</td>
                <td>1</td>
                <td>2</td>
                <td>2</td>
                <td><i class='far fa-caret-square-up'></i> <i class='far fa-caret-square-down'></i></td>
                <td>Not Started</td>
                <td><i class='far fa-edit'></i> <i onclick="document.getElementById('DeleteModal').style.display='block'" style="width:auto;" class='far fa-trash-alt'></i></td>
                
            </tr>
            <tr>
            <td scope="row">2</td>
                <td>As a development team member, I want to select PBI into a sprint</td>
                <td>2</td>
                <td>2</td>
                <td>4</td>
                <td><i class='far fa-caret-square-up'></i> <i class='far fa-caret-square-down'></i></td>
                <td>Not Started</td>
                <td><i class='far fa-edit'></i> <i onclick="document.getElementById('DeleteModal').style.display='block'" style="width:auto;" class='far fa-trash-alt'></i></td>
            </tr>
    
            
        </table>
        <!--Table-->

    <div id="id01" class="modal"> 
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
        <form class="modal-content animate" action="/action_page.php"> 
            <div class="container"> 
                <label><b>User Story</b></label> 
                <input type="text" placeholder="Enter User Story" name="userstory" required> 
  
                <label><b>Sprint</b></label> 
                <input type="text" placeholder="Enter Sprint" name="sprint" required> 
  
                <label><b>Story Point</b></label> 
                <input type="text" placeholder="Enter Story Point" name="storypts" required> 

                <label><b>Priority Point</b></label> 
                <input type="text" placeholder="Enter Priority Point" name="prioritypts" required> 
                
                <label><b>Status</b></label><br>
                <select>
                    <option value="not started">Not Started</option>
                    <option value="in progress">In Progress</option>
                    <option value="completed">Completed</option>
                  </select>

                <div class="clearfix"> 
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> 
                    <button type="submit" class="signupbtn">Create</button> 
                </div> 
            </div> 
        </form> 
    </div> 

    <div id="DeleteModal" class="modal" role="dialog">
        <span onclick="document.getElementById('DeleteModal').style.display='none'" class="close" title="Close Modal">×</span> 
          <!-- Modal content-->
          <form action="" id="deleteForm" method="post" class="modal-content1">
              <div class="container1">
                  <div class="modal-header">
                    <center>
                        <h4 class="modal-title">DELETE CONFIRMATION</h4>
                    </center>
                  </div>
                  <div class="modal-body">
                    <center>
                      <p class="text-center">Are You Sure Want To Delete ?</p>
                    </center> 
                  </div>
                  <div class="clearfix"> 
                      <center>
                          <button type="button" onclick="document.getElementById('DeleteModal').style.display='none'" class="cancelbtn">Cancel</button>
                          <button type="submit" name="" class="deletebtn" data-dismiss="modal" >Yes, Delete</button>
                      </center>
                  </div>
              </div>
          </form>
        </div>
       </div>

  
    
    <!--close the modal by just clicking outside of the modal-->
    <script> 
        var modal = document.getElementById('id01'); 
  
        window.onclick = function(event) { 
            if (event.target == modal) { 
                modal.style.display = "none"; 
            } 
        }         
        
        var modal1 = document.getElementById('DeleteModal'); 
  
        window.onclick = function(event) { 
            if (event.target == modal1) { 
                modal1.style.display = "none"; 
            } 
        }         

    
    </script> 

    
    
  
   
   

  

</div>

{% endblock %}