{% extends 'common/base.html' %}
{% block title %}Product backlogs{% endblock %}
{% block content %}
<head>
    <title> Product Backlogs </title>
    <link rel="stylesheet" type="text/css" href="/static/style/style1.css">
</head>

<div class = "content">
    <div class ="button_block">
        {% if user.is_authenticated %}
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="button2">Create User Story</button>
        {% else %}
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto; visibility: hidden;" class="button2">Create User Story</button>
        {% endif %}
        <a href="{% url 'application:pbi_all' %}" style="margin-left: 150px;">Show Full View</a><br>
    </div>

    <div class= "tabulator">
    <h4 class="title1">Product Backlogs (Current View)</h4>

    <!--Table-->
    <table class="table">
        <!--Table head-->
        <thead>
            <tr>
            <th width="5%">#No</th>
            <th width="35%">User Story </th>
            <th width="5%">Sprint</th>
            <th width="5%">Story Point</th>
            <th width="20%">Cumulative Story Point</th>
            <th width="10%">Priority</th>
            <th width="10%">Status</th>
            <th width="10%">Action</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            
            {% for pbi in current_view_pbi %}
            
            <tr>
                <td scope="row"> {{forloop.counter}} </td>
                <!-- <td>{{pbi.epic}}</td> -->
                <td>{{pbi.user_story}}</td>
                <td>{{pbi.sprint_number}}</td>
                <td>{{pbi.story_point}}</td>
                <td>{{pbi.getCumulativeSP}}</td>
                {% if user.is_authenticated %}
                <!-- <td><i class='far fa-caret-square-up'></i> <i class='far fa-caret-square-down'></i></td> -->
                <td>{{pbi.priority}} 
                    <a href="{% url 'application:increase_pri' pbi.pbi_id %}"><i style="color: black;" class='far fa-caret-square-up'></i></a>
                    <a href="{% url 'application:decrease_pri' pbi.pbi_id %}"><i style="color: black;" class='far fa-caret-square-down'></i></a>
                </td>
                {% else %}

                <td> - </td>

                {% endif %}

                <td>{{pbi.getStatus}}</td>
                {% if user.is_authenticated %}
                <td>
                    <i style="cursor: pointer;" onclick="document.getElementById('editUserStory{{forloop.counter}}').style.display='block'" class='far fa-edit'></i>
                    
                    <i style="cursor: pointer;" onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='block'" style="width:auto;" class='far fa-trash-alt' ></i>
                        <!-- <button type="submit" name = 'pbi_id' value = {{pbi.pbi_id}}>Click to delete</button> -->
                </td>
                {% else %}

                <td> - </td>

                {% endif %}

               
            </tr>
            {% endfor %}        
              
            
    
          
        </table>


        {% for pbi in current_view_pbi %}
        <div id="DeleteModal{{forloop.counter}}" class="modal" >
                <span onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='none'" class="close" title="Close Modal">×</span> 
                    <!-- Modal content -->
                    <form action="del/" id="deleteForm" method="POST" class="modal-content1">
                    {% csrf_token %}
                    <div class="container1">
                        <div class="modal-header">
                        <center>
                            <h4 class="modal-title">DELETE CONFIRMATION</h4>
                        </center>
                        </div>
                        <div class="modal-body">
                        <center>
                            <p class="text-center">Are You Sure Want To Delete ?</p>
                        </center> 
                        </div>
                        <div class="clearfix"> 
                        <center>
                            <button type="button" onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='none'" class="cancelbtn">Cancel</button>
                            <button type="submit" onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='none'" name="pbi_id" value='{{pbi.pbi_id}}' class="deletebtn" >Yes, Delete</button>
                        </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="editUserStory{{forloop.counter}}" class="modal"> 
            <span onclick="document.getElementById('editUserStory{{forloop.counter}}').style.display='none'" class="close" title="Close Modal">×</span> 
            <form class="modal-content animate" action="edit/" method= "POST"> 
            {% csrf_token %}
                <div class="container"> 
                    <label><b>User Story</b></label> 
                    <input type="text"  name="user_story" value="{{pbi.user_story}}" required> 
              
                    <label><b>Sprint</b></label> 
                    <input type="number"  name="sprint_num" placeholder="Nothing for not in sprint" value={{pbi.sprint_number}}> 
              
                    <label><b>Story Point</b></label> 
                    <input type="number"  name="story_points" value={{pbi.story_point}} required> 
            
                    <label><b>Priority Point</b></label> 
                    <input type="number" name="priority_points" value={{pbi.priority}} required> 
            
                    <div class="clearfix"> 
                        <button type="button" onclick="document.getElementById('editUserStory{{forloop.counter}}').style.display='none'" class="cancelbtn">Cancel</button> 

                        <button type="submit" class="editbtn" name="pbi_id" value="{{pbi.pbi_id}}">Edit</button> 
                    </div> 
        
                </div> 
            </form> 
        </div>   
        {% endfor %} 




        
        <!--Table-->


    <div id="id01" class="modal"> 
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
        <form class="modal-content animate" action="action_page.php/" method= "POST"> 
        {% csrf_token %}
            <div class="container"> 
                <label><b>User Story</b></label> 
                <input type="text" placeholder="Enter User Story" name="userstory" required> 
  
                <!-- <label><b>Sprint</b></label> 
                <input type="number" placeholder="Enter Sprint Number" name="sprint">  -->
                
                <label><b>Story Point</b></label> 
                <input type="number" placeholder="Enter Story Point" name="storypts" required> 

                <label><b>Priority Point</b></label> 
                <input type="number" placeholder="Enter Priority Point" name="prioritypts" required> 
                
                <!-- <label name><b>Status</b></label><br>
                <select>
                    <option value="not started" >Not Started</option>
                    <option value="in progress" >In Progress</option>
                    <option value="completed" >Completed</option>
                  </select> -->

                <div class="clearfix"> 
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> 
                    <button type="submit" class="signupbtn" value="PBI">Create</button> 
                </div> 

            </div> 
        </form> 
    </div> 
  
    <!--close the modal by just clicking outside of the modal-->
    <script> 
            var modal = document.getElementById('id01'); 
            var modal1 = document.getElementsByClassName('modal'); 
    
            window.onclick = function(event) { 
                if (event.target == modal) { 
                    modal.style.display = "none"; 
                }else if (event.target == modal1){
                    modal1.style.display = "none"; 
                }
            }       
    </script> 


  

</div>

{% endblock %}