{% extends 'common/base.html' %}

{% block content %}
<div class = "content">
    <div class ="button_block">
        <button class="button button1">Create Epic</button>
        <button class="button button2">Create User Story</button>
        <p id="checkbox">Full View    <input type="checkbox" name="fullview" value="fullview" ></p><br>
    </div>

    <h4 class="title1">Product Backlogs(Current View)</h4>

    <!--Table-->
    <table class="table">
    <!--Table head-->
    <thead>
        <tr>
        <th>#No</th>
        <th>Epic</th>
        <th>User Story </th>
        <th>Sprint</th>
        <th>Story Point</th>
        <th>Cumulative Story Point</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Action</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        <tr>
            <td scope="row">1</td>
            <td>As a product owner, I want to modify product backlog</td>
            <td>As a product owner, I want to create PBI</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td><i class='far fa-caret-square-up'></i> <i class='far fa-caret-square-down'></i></td>
            <td>Not Started</td>
            <td><i class='far fa-edit'></i> <i class='far fa-trash-alt'></i></td>
            
        </tr>
        <tr>
        <td scope="row">2</td>
            <td>As a development team member, I want to modify sprint cycle</td>
            <td>As a development team member, I want to select PBI into a sprint</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td><i class='far fa-caret-square-up'></i> <i class='far fa-caret-square-down'></i></td>
            <td>Not Started</td>
            <td><i class='far fa-edit'></i> <i class='far fa-trash-alt'></i></td>
        </tr>

        
    </table>
    <!--Table-->
    
<!--Table-->

<h4 class="title2">Epic</h4>
<h4 class="title3">User Story</h4><br>

<table class="table1" >
<!--Table head-->
  <thead>
    <tr>
      <th width ="10%">#No</th>
      <th width ="80%">Epic</th>
      <th width="10%">Action </th>
    </tr>
  </thead>
  <!--Table head-->
  <!--Table body-->
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td>As a product owner, I want to modify product backlog</td>
      <td><i class='far fa-edit'></i> <i class='far fa-trash-alt'></i></td>
    </tr>
        <tr>
      <td scope="row">2</td>
      <td>As a development team member, I want to modify sprint cycle</td>
      <td><i class='far fa-edit'></i> <i class='far fa-trash-alt'></i></td>
    </tr>
    
</table>
<!--Table-->



<!--Table-->
<table class="table2" >
<!--Table head-->
  <thead>
    <tr>
      <th>#No</th>
      <th>Epic</th>
      <th>User Story</th>
      <th>Action </th>
    </tr>
  </thead>
  <!--Table head-->
  <!--Table body-->
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td>As a product owner, I want to modify product backlog</td>
      <td>As a product owner, I want to create PBI</td>
      <td><i class='far fa-edit'></i> <i class='far fa-trash-alt'></i></td>
    </tr>
        <tr>
      <td scope="row">2</td>
      <td>As a development team member, I want to modify sprint cycle</td>
      <td>As a development team member, I want to select PBI into a sprint</td>
      <td><i class='far fa-edit'></i> <i class='far fa-trash-alt'></i></td>
    </tr>
    
</table>
</div>

{% endblock %}