<!DOCTYPE html>
<html>
    <head>
        <meta Charset="UTF-8">
        <meta name= "UI" content= "UI Design">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/style/styleSB.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <title> Sprint Backlogs </title>
    </head>

    <body>
        {% include 'common/navbar.html' %}

        <div class="content">
            <h4 class="title1">Product Backlogs</h4>

            <table class="table">
                    <!--Table head-->
                      <thead>
                        <tr>
                          <th>#No</th>
                          <th>Epic</th>
                          <th>User Story</th>
                          <th>Sprint</th>
                          <th>Story Point</th>
                          <th>Status </th>
                        </tr>
                      </thead>
                      <!--Table head-->
                      <!--Table body-->
                      <tbody>
                        <tr>
                          <td scope="row">1</td>
                          <td>As a product owner, I want to modify product backlog</td>
                          <td>As a product owner, I want to create PBI</td>
                          <td>-</td>
                          <td>2</td>
                          <td>Not Started</td>
                        </tr>
                        <tr>
                          <td scope="row">2</td>
                          <td>As a development team member, I want to modify sprint cycle</td>
                          <td>As a development team member, I want to select PBI into a sprint</td>
                          <td>-</td>
                          <td>2</td>
                          <td>Not Started</td>
                        </tr>
                        
                    </table>
                    <!--Table-->

            <h4 class="title2">Sprint 1</h4>
            <h5 class="storypoints">4 Stories, 8 SP</h5>

            <table class="table1">                      
                      <!--Table body-->
                      <tbody>
                        <tr>
                          <td scope="row">As a manager, I want to view completed and currently in-progress projects</td>
                          <td class="tableIcon"><i class='far fa-user-circle'></i></td>
                          <td class="effortHour">3</td>
                        </tr>
                        <tr>
                          <td scope="row">As a manager, I want to get notified when I am selected to be the scrum master of a project</td>
                          <td class="tableIcon"><i class='far fa-user-circle'></i></td>
                          <td class="effortHour">2</td>
                        </tr>
                        <tr>
                            <td scope="row">As a product owner, I want to delete product backlog items</td>
                            <td class="tableIcon"><i class='far fa-user-circle'></i></td>
                            <td class="effortHour">2</td>
                        </tr>
                        <tr>
                            <td scope="row">As a product owner, I want to select team mebers and scrum master for a project</td>
                            <td class="tableIcon"><i class='far fa-user-circle'></i></td>
                            <td class="effortHour">1</td>
                        </tr>
                        
                    </table>
                    <!--Table-->
        </div>

    </body>


</html>