{% extends 'common/base.html' %}
{% block title %}Sprint backlogs{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/style/styleSB.css">

</head> 

<div class="content">

    <h4 class="title1">Product Backlogs</h4>

    <table class="table">
            <!--Table head-->
              <thead>
                <tr>
                  <th width="10%">#No</th>
                  <th width="50%">User Story</th>
                  <th width="10%">Sprint</th>
                  <th width="10%">Story Point</th>
                  <th width="20%">Status </th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td>As a product owner, I want to create PBI</td>
                  <td>-</td>
                  <td>2</td>
                  <td>Not Started</td>
                </tr>
                <tr>
                  <td scope="row">2</td>
                  <td>As a development team member, I want to select PBI into a sprint</td>
                  <td>-</td>
                  <td>2</td>
                  <td>Not Started</td>
                </tr>
                
            </table>
            <!--Table-->

    <h4 class="title2" ><a style="color:white;text-decoration: none;" href="http://127.0.0.1:8000/sprintpage/">Sprint 1</a></h4>
    <h5 class="storypoints">4 Stories, 8 SP</h5>

    <table class="table1">                      
              <!--Table body-->
              <tbody>
                <tr>
                  <td scope="row">As a manager, I want to view completed and currently in-progress projects</td>
                  <td class="tableIcon"><i class='far fa-user-circle'></i></td>
                  <td class="effortHour">3</td>
                </tr>
                <tr>
                  <td scope="row">As a manager, I want to get notified when I am selected to be the scrum master of a project</td>
                  <td class="tableIcon"><i class='far fa-user-circle'></i></td>
                  <td class="effortHour">2</td>
                </tr>
                <tr>
                    <td scope="row">As a product owner, I want to delete product backlog items</td>
                    <td class="tableIcon"><i class='far fa-user-circle'></i></td>
                    <td class="effortHour">2</td>
                </tr>
                <tr>
                    <td scope="row"><a style="text-decoration: none;color: black" href = "http://127.0.0.1:8000/insprint/">As a product owner, I want to select team members and scrum master for a project</a></td>
                    <td class="tableIcon"><i class='far fa-user-circle'></i></td>
                    <td class="effortHour">1</td>
                </tr>
                
            </table>
            <!--Table-->
</div>


{% endblock %}
