{% extends 'common/base.html' %}
{% block title %}Sprint 1{% endblock %}

{% block content %}
<head>
    <title> Sprint 1 </title>
    <link rel="stylesheet" type="text/css" href="/static/style/sprintv2.css">
</head>

<div class="content"> 
    <div class="center">
        <div class="first_progress_bar">
            <div class="progress-circle over50 p100">
                    <span>10</span>
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                       
                    </div>
            </div>
            <text style = "font-family: Comic Sans MS, cursive, sans-serif;">Total Effort Hours</text>
        </div>
        <div class="second_progress_bar">
            <div class="progress-circle over50 p100">
                    <span>8</span>
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                    </div>
            </div>
            <text style = "padding-left:5px; font-family: Comic Sans MS, cursive, sans-serif;">Total Completed</text>
        </div>
        <div class="third_progress_bar">
            <div class="progress-circle p10">
                    <span>10%</span>
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                    </div>
            </div>      
            <text style = "padding-left:25px; font-family: Comic Sans MS, cursive, sans-serif;">In Progress</text>
        </div>      
            
    </div>

    <div class="progress" style="margin-top: 75px;" >
            <div >
                    <div class="edit"><a href="#"><i onclick="document.getElementById('id01').style.display='block'" style= "width:auto; color:black" class='fas fa-plus-circle'></i></a></div> 
                    <div class="titlebox1">       
                        {% for pbi in current_pbi %}                     
                        <text style="text-align: left; font-weight: bold; font-size: 18px">
                    
                        {{pbi.user_story}}
                        
                        </text>
                        {% endfor %}
                        <span style="float:right; padding-right: 5px;">
                            {{pbi_tasks.count}} tasks, 
                            
                            {% for pbi in current_pbi %}
                                {{pbi.getTaskTotalEH}} EP
                            {% endfor %}

                            
                                

                        </span>
                    </div>
                    
                    {% for task in pbi_tasks %}
                    <div class="titlebox">
                        <text style="text-align: left; font-size: 14px;">
                            {{task.task_description}}
                        </text>
                        <a href="#"><i onclick="document.getElementById('DeleteModal').style.display='block'" style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-trash-alt'></i></a>
                        <input type = "number" name="EP" value = {{task.effort_hour}} style = " text-align: center; width: 40px; height: 10px; float:right; margin-right: 10px;padding-bottom: 5px">
                        <i class='far fa-user-circle' style="float:right; margin-right: 10px;"></i>
                        <input type="checkbox" name="done" value="done" style="float:right; margin-right: 10px;">
                    </div>
                    {% endfor %}
                                       
            </div>
    
    </div>

    <div id="id01" class="modal"> 
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
            
            <form class="modal-content" action="{% url 'application:createTask' %}" method="POST"> 
            
                {% csrf_token %}
                <div class="container"> 
      
                    <label><b>Description</b></label> 
                    <input type="text" placeholder="Description" name="description" required> 
      
                    <label><b>Effort Point</b></label> 
                    <input type="number" placeholder="Effort Point" name="effortpts" required> 
                    {% with current_pbi|first as pbi %}
                    <input type="hidden" name="pbi_id_" value = {{pbi.pbi_id}}>
                    {% endwith %}

                    <div class="clearfix"> 
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> 
                        <button type="submit" class="signupbtn">Create</button> 
                    
                    </div> 
                </div> 
            </form> 
        </div> 

    <div id="DeleteModal" class="modal" role="dialog">
            <span onclick="document.getElementById('DeleteModal').style.display='none'" class="close" title="Close Modal">×</span> 
              <!-- Modal content-->
              <form action="" id="deleteForm" method="post" class="modal-content1">
                {% csrf_token %}
                  <div class="container1">
                      <div class="modal-header">
                        <center>
                            <h4 class="modal-title">DELETE CONFIRMATION</h4>
                        </center>
                      </div>
                      <div class="modal-body">
                        <center>
                          <p class="text-center">Are You Sure Want To Delete ?</p>
                        </center> 
                      </div>
                      <div class="clearfix"> 
                          <center>
                            <button type="button" onclick="document.getElementById('DeleteModal').style.display='none'" class="cancelbtn">Cancel</button>
                              
                            <button type="submit" name="" class="deletebtn" data-dismiss="modal" >Yes, Delete</button>
                              
                              
                          </center>
                      </div>
                  </div>
              </form>
            </div>
        </div>

    <script> 
        var modal1 = document.getElementById('DeleteModal'); 

        window.onclick = function(event) { 
            if (event.target == modal1) { 
                modal1.style.display = "none"; 
            }
        }         
    </script> 

   
    
</div>



{% endblock %}

