{% extends 'common/base.html' %}

{% block content %}
<head>
    <title> Sprint 1 </title>
    <link rel="stylesheet" type="text/css" href="/static/style/sprintv2.css">
</head>

<div class="content"> 
    <div class="center">
            <table> 
                    <tr>
                        <th style="font-size: 30px;">Total Effort Hours</th>
                    </tr>
                    <tr>
                        <td style="font-size: 50px;" >10</td>
                    </tr>
            </table>
        
            <table> 
                    <tr>
                        <th style="font-size: 30px;">Total Completed</th>
                    </tr>
                    <tr>
                        <td style="font-size: 50px;" >18</td>
                    </tr>
            </table>

            <table> 
                    <tr>
                        <th style="font-size: 30px;">In progress</th>
                    </tr>
                    <tr>
                        <td style="font-size: 50px;" >2</td>
                    </tr>
            </table>
        
            
            
</div>

    <div class="progress">
        <div style="padding-top: 10px;">
            <div class="titlebox">
                <b style="text-align: left;">As a product owner, I want to select team member...</b>
                <span style="float:right; padding-right: 5px;">10 hours</span></b>
            </div>
            
            <div class="titlebox">
                    <text style="text-align: left;">Create a database of team members and scrum master</text>
                    <span style="float:right; padding-right: 5px;">2 hours</span></text></text>
            </div>
        </div>

    </div>
    <div class="content" style="padding-top: 30px;"> 
        <textarea rows="6" cols="150" >
                Create a database of team members and scrum master
        </textarea>
    </div>
    
</div>



{% endblock %}

