{% extends 'common/base.html' %}
{% block title %}Sprint List{% endblock %}

{% block content %}
<head>
    <title> Sprint List </title>
    <link rel="stylesheet" type="text/css" href="/static/style/sprintList.css">
</head>

<div class="content">
    {% if current_sprint %}
        <div class="button">
            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="button1" disabled>Create Sprint</button>
        </div>
    {% else %}
        <div class="button">
            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="button1">Create Sprint</button>
        </div>
    {% endif %}

    <ul class="sprintlist">
        {% if current_sprint %}
            <h1>Current Sprint</h1>
            <li><a href="/{{ project_id }}/sprintbacklogs/current" style="color:black">Sprint {{ current_sprint.sprint_number }}</a></li>
        {% endif %}
        {% for sprint in sprint_list %}
            <li><a href="/{{ project_id }}/sprintbacklogs/{{ sprint.sprint_id }}" style="color:black">Sprint {{ sprint.sprint_number }}</a></li>
        {% endfor %}
    </ul>
    
    <div id="id01" class="modal"> 
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
            
            <form class="modal-content" action="/createSprint/" method= "POST">
                {% csrf_token %}
                <div class="container"> 
                    <label style="margin-left: 55px;"><b>Sprint Name:</b></label>
                    <input type="text" placeholder="Sprint Name" name="description" class="sprint_name" width="30%" style="margin-top:20px;"required>               
                    
                    <label style="margin-left: 55px;"><b>Sprint Start Date:</b></label>
                    <input type="date" placeholder="Sprint Start Date" name="sprint_start_date" class="sprintStartDate" width="30%" style="padding-left: 10px; border:1px solid grey; margin-top:20px;"required>        
                    
                    <label style="margin-left: 55px;"><b>Sprint End Date:</b></label>
                    <input type="date" placeholder="Sprint End Date" name="sprint_end_date" class="sprintEndDate" width="30%" style=" padding-left: 10px; border:1px solid grey; margin-top:20px;"required><br>

                    <label style="margin-left: 55px;"><b>Maximum Allowable Effort Hour In The Sprint</b></label>
                    <input type="number" style="padding-left: 20px;margin-top: 20px; border:1px solid grey " name="max_effort_hour"  required>

                    <input type="hidden" value={{ project_id }} name="project_id">

                    <div class="clearfix"> 
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> 
                        <button type="submit" class="signupbtn">Create</button> 
                    </div> 
                </div> 
            </form> 
    </div> 
    
    
</div>

<script> 
        var modal = document.getElementById('id01'); 

        window.onclick = function(event) { 
            if (event.target == modal) { 
                modal.style.display = "none"; 
            }
        }       
</script> 



{% endblock %}
