{% extends 'common/base.html' %}
{% block title %}Sprint 1{% endblock %}

{% block content %}
<head>
    <title> Sprint 1 </title>
    <link rel="stylesheet" type="text/css" href="/static/style/sprint.css">
</head>

<div class="content"> 
    <div class= "table_container">
            <table> 
                    <tr>
                        <th style="font-size: 18px; font-weight: bold" width= "50%">Total Effort Hours</th>
                    </tr>
                    <tr>
                        <td style="font-size: 50px;" >19</td>
                    </tr>
                     
            </table>
        
            <table> 
                    <tr>
                        <th style="font-size: 18px; font-weight: bold" width= "50%">Story Points Assigned</th>
                    </tr>
                    <tr>
                        <td style="font-size: 50px;" >11</td>
                    </tr>
            </table>
        
            
    </div>

    <div class="progress">
        <div >
            <div class="titlebox">
                <b style="text-align: left; font-family: Comic Sans MS, cursive, sans-serif;">To do</b>
                <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">10 hours</span></b>
            </div>

            <div class="titlebox">
                    <b style="text-align: left;font-family: Comic Sans MS, cursive, sans-serif;">In Progress</b>
                    <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">7 hours</span></b></b>
            </div>

            <div class="titlebox">
                    <b style="text-align: left; font-family: Comic Sans MS, cursive, sans-serif;">Review</b>
                    <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">7 hours</span></b></b>
            </div>
            
            <div class="titlebox">
                    <b style="text-align: left; font-family: Comic Sans MS, cursive, sans-serif;">&#10003; Completed</b>
                    <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">2 hours</span></b></b>
            </div>
        </div>

        <div class="titlebox">
            <text style="text-align: left; font-size: 14px;" >Create Database...</text>
            <span style="float:right; padding-right: 5px; font-size: 11px; padding-bottom: 10px; color: rgb(160, 160, 240); ">10 EP</span></text>
        </div>
        <div class="titlebox">
            <text style="text-align: left; font-size: 14px;">Moving PBI up and down</text>
            <span style="float:right; padding-right: 5px; font-size: 11px; padding-bottom: 10px; color: rgb(160, 160, 240); ">7 EP</span></text>
         </div>

         <div class="titlebox">
                <text style="text-align: left; font-size: 14px;">Issue in testing</text>
                <span style="float:right; padding-right: 5px; font-size: 11px; padding-bottom: 10px; color: rgb(160, 160, 240); ">7 EP</span></text>
        </div>

        <div class="titlebox">
                <text style="text-align: left; font-size: 14px;">Create a delete button</text>
                <span style="float:right; padding-right: 5px; font-size: 11px; padding-bottom: 10px; color: rgb(160, 160, 240); ">8 EP</span></text>
        </div>
        
        <div class="hidebox">
        </div>
        <div class="hidebox">
        </div>

        <div class="titlebox">
                <text style="text-align: left; font-size: 14px;">Issue2 in testing</text>
                <span style="float:right; padding-right: 5px; font-size: 11px; padding-bottom: 10px; color: rgb(160, 160, 240); ">Ready</span></text>
        </div>

    


    </div>
    
</div>



{% endblock %}

