{% extends 'common/base.html' %}
{% block title %}Sprint 1{% endblock %}

{% block content %}
<head>
    <title> Sprint 1 </title>
    <link rel="stylesheet" type="text/css" href="/static/style/sprintv2.css">
</head>



<div class="content"> 
    <div class="center">
        <div class="first_progress_bar">
            <div class="progress-circle over50 p100">
                {% with current_pbi|first as pbi %}
                    <span>{{pbi.getTaskTotalEH}}</span>
                {% endwith %}
                    
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                    </div>
            </div>
            <text style = "font-family: Comic Sans MS, cursive, sans-serif;">Total Effort Hours</text>
        </div>
        <div class="second_progress_bar">
            <div class="progress-circle over50 p100">
                    <span>{{finished_tasks|length}}</span>
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                    </div>
            </div>
            <text style = "padding-left:5px; font-family: Comic Sans MS, cursive, sans-serif;">Total Completed</text>
        </div>
       
        {% if progress_bar >= 50 %}
        
        <div class="third_progress_bar">
            <div class="progress-circle over50 p{{progress_bar}}">
                    <span>{{progress_tasks | length}}</span>
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                    </div>
            </div>      
            <text style = "padding-left:25px; font-family: Comic Sans MS, cursive, sans-serif;">In Progress </text>
        </div>      
        {% else %}
        <div class="third_progress_bar">
            <div class="progress-circle p{{progress_bar}}">
                    <span>{{progress_tasks | length}}</span>
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                    </div>
            </div>      
            <text style = "padding-left:25px; font-family: Comic Sans MS, cursive, sans-serif;">In Progress</text>
        </div>   
        {% endif %}
        
            
    </div>

    <div class="progress" style="margin-top: 75px;" >
            <div >
                    <div class="edit"><a href="#"><i onclick="document.getElementById('id01').style.display='block'" style= "width:auto; color:black" class='fas fa-plus-circle'></i></a></div> 
                    <div class="titlebox1">       
                        {% with current_pbi|first as pbi %}                    
                        <text style="text-align: left; font-weight: bold; font-size: 18px">
                    
                        {{pbi.user_story}}
                        
                        </text>
                        {% endwith %}
                        <span style="float:right; padding-right: 5px;">
                            {{pbi_tasks.count}} tasks, 

                            {% with current_pbi|first as pbi %}
                                {{pbi.getTaskTotalEH}} EH
                            {% endwith %}
                        </span>
                    </div>

                    <div class="progress2">
                        <div class="box">
                            <div class="titlebox">
                                <b style="text-align: left; font-family: Comic Sans MS, cursive, sans-serif;">To do</b>
                                <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">
                                    {% with current_pbi|first as pbi %}
                                        {{pbi.getNewTaskTotalEH}}
                                    {% endwith %}
                                    hours</span></b>                   
                            </div>
                        
                                                          
                       
                            {% for task in new_tasks %}   
                            <div class="titlebox2 trigger" >
                                <div class="task" style="margin:0; width:50%;display: inline-block">
                                    <text style="text-align: left; font-size: 14px;word-wrap: break-word;">
                                        {{task.task_description}}
                                    </text>
                                </div>
                                <div class= "functionality" style="width:50%; float: right; display: inline-block">
                                    <a href="#" onclick="event.stopPropagation()"><i onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='block'" style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-trash-alt'></i></a>
                                    <input  onclick="event.stopPropagation()" type = "number" name="EP" value = {{task.effort_hour}} style = " text-align: center; width: 20px; height: 10px; float:right; margin-right: 10px;padding-bottom: 5px">
                                    <i onclick="event.stopPropagation()" class='far fa-user-circle' style="float:right; margin-right: 10px;"></i>
                                    <input onclick="event.stopPropagation()" type="hidden" name="task_id" value= {{task.task_id}}>
                                </div>
                            </div>
                       
        
                         
        
                            {% endfor %}
                        </div>

                        
                        <div class="box">
                            <div class="titlebox">
                                <b style="text-align: left;font-family: Comic Sans MS, cursive, sans-serif;">In Progress</b>
                                <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">
                                    {% with current_pbi|first as pbi %}
                                        {{pbi.getInProgressTaskTotalEH}}
                                    {% endwith %}
                                    hours</span></b></b>
                            </div>
                            {% for task in progress_tasks %}
                   
                       
                            
                            <div class="titlebox2 trigger1">
                                <div class="task" style="margin:0; width:50%;display: inline-block">
                                    <text style="text-align: left; font-size: 14px;word-wrap: break-word;">
                                        {{task.task_description}}
                                    </text>
                                </div>
                                <div class= "functionality" style="width:50%; float: right; display: inline-block">
                                    <a href="#" onclick="event.stopPropagation()"><i onclick="document.getElementById('DeleteModal{{forloop.counter}}' ).style.display='block'" style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-trash-alt'></i></a>
                                    <input  onclick="event.stopPropagation()" type = "number" name="EP" value = {{task.effort_hour}} style = " text-align: center; width: 20px; height: 10px; float:right; margin-right: 10px;padding-bottom: 5px">
                                    <i class='far fa-user-circle' style="float:right; margin-right: 10px;" onclick="event.stopPropagation()"></i>
                                    <input type="hidden" name="task_id" value= {{task.task_id}} onclick="event.stopPropagation()">
                                </div>
                            </div>
                        
        
                         
        
                            {% endfor %}
                        </div>
                        
                        <div class="box"> 
                            <div class="titlebox">
                                <b style="text-align: left; font-family: Comic Sans MS, cursive, sans-serif;">&#10003; Completed</b>
                                <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">
                                    {% with current_pbi|first as pbi %}
                                        {{pbi.getCompletedTaskTotalEH}}
                                    {% endwith %}
                                    hours</span></b></b>
                        </div>
                        {% for task in finished_tasks %}
                   
                        
                            <div class="titlebox2 trigger2">
                                <div class="task" style="margin:0; width:50%;display: inline-block">
                                    <text style="text-align: left; font-size: 14px;word-wrap: break-word;">
                                        {{task.task_description}}
                                    </text>
                                </div>
                                <div class= "functionality" style="width:50%; float: right; display: inline-block">
                                        <a href="#" onclick="event.stopPropagation()"><i onclick="document.getElementById('DeleteModal{{forloop.counter}}' ).style.display='block'" style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-trash-alt'></i></a>
                                    <input onclick="event.stopPropagation()" type = "number" name="EP" value = {{task.effort_hour}} style = " text-align: center; width: 20px; height: 10px; float:right; margin-right: 10px;padding-bottom: 5px">
                                    <i onclick="event.stopPropagation()" class='far fa-user-circle' style="float:right; margin-right: 10px;"></i>
                                    <input onclick="event.stopPropagation()" type="hidden" name="task_id" value= {{task.task_id}}>
                                </div>
                            </div>
                        
        
                         
        
                            {% endfor %}

                        </div>
                        
                                       
                                       
                     </div>

                     <div class="pickupmodal">
                        <div class="pickupmodal-content">
                            <span class="close-button">&times;</span>
                            <button type="button">Pick Up This Task </button>
                        </div>
                    </div>

                    <div class="pickupmodal1">
                            <div class="pickupmodal-content1">
                                <span class="close-button1">&times;</span>
                                <button type="button">Drop This Task </button>
                                <button type="button">Mark as completed </button>
                            </div>
                    </div>

                    <div class="pickupmodal2">
                            <div class="pickupmodal-content2">
                                <span class="close-button2">&times;</span>
                                <button type="button">Mark as in progress</button>
                            </div>
                    </div>
    
    </div>

    <div id="id01" class="modal"> 
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> 
            
            <form class="modal-content" action="{% url 'application:createTask' %}" method="POST"> 
                
                {% csrf_token %}
                <div class="container"> 
      
                    <label><b>Description</b></label> 
                    <input type="text" placeholder="Description" name="description" required> 
      
                    <label><b>Effort Point</b></label> 
                    <input type="number" placeholder="Effort Point" name="effortpts" required> 
                    {% with current_pbi|first as pbi %}
                    <input type="hidden" name="pbi_id_" value = {{pbi.pbi_id}}>
                    <input type="hidden" name="project_id_" value = {{pbi.project_id.project_id}}>
                    {% endwith %}

                    <div class="clearfix"> 
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> 
                        <button type="submit" class="signupbtn">Create</button> 
                    
                    </div> 
                </div> 
            </form> 
    </div> 

    {% for task in pbi_tasks %}
    <div id="DeleteModal{{forloop.counter}}" class="modal" role="dialog">
            <span onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='none'" class="close" title="Close Modal">×</span> 
              <!-- Modal content-->
              <form action="{% url 'application:deleteTask' %}" id="deleteForm" method="POST" class="modal-content1">
                {% csrf_token %}
                  <div class="container1">
                      <div class="modal-header">
                        <center>
                            <h4 class="modal-title">DELETE CONFIRMATION</h4>
                        </center>
                      </div>

                      <div class="modal-body">
                        <center>
                          <p class="text-center">Are You Sure Want To Delete ?</p>
                        </center> 
                      </div>

                      <div class="clearfix"> 
                          <center>
                            
                            <button type="button" onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='none'"  class="cancelbtn">Cancel</button>
                            
                            <button type="submit" onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='none'" class="deletebtn" data-dismiss="modal" >Yes, Delete</button>   
                          </center>
                      </div>
                      {% with current_pbi|first as pbi %}
                      <input name="pbi_id" value={{pbi.pbi_id}} type="hidden">
                      <input type="hidden" name="project_id_" value = {{pbi.project_id.project_id}}>
                      {% endwith %}
                      <input name="task_id" value={{task.task_id}} type="hidden">
                      

                  </div>
              </form>
    </div>
    {% endfor %}
    
    


    <script> 
        var modal1 = document.getElementById('DeleteModal'); 

        window.onclick = function(event) { 
            if (event.target == modal1) { 
                modal1.style.display = "none"; 
            }
        }         


        var modal = document.querySelector(".pickupmodal");
        var modal2 = document.querySelector(".pickupmodal1");
        var modal3 = document.querySelector(".pickupmodal2");
        document.querySelectorAll(".trigger").forEach(item =>{
            item.addEventListener("click", toggleModal);
        })

        document.querySelectorAll(".trigger1").forEach(item =>{
            item.addEventListener("click", toggleModal1);
        })

        document.querySelectorAll(".trigger2").forEach(item =>{
            item.addEventListener("click", toggleModal2);
        })
        
        var closeButton = document.querySelector(".close-button");
        var closeButton1 = document.querySelector(".close-button1");
        var closeButton2 = document.querySelector(".close-button2");

        function toggleModal() {
            modal.classList.toggle("show-pickupmodal");
        }

        function toggleModal1() {
            modal2.classList.toggle("show-pickupmodal1");
        }

        function toggleModal2() {
            modal3.classList.toggle("show-pickupmodal2");
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }else if (event.target === modal2){
                toggleModal1();
            }else if (event.target === modal3){
                toggleModal2();
            }
        }
        closeButton2.addEventListener("click", toggleModal2);
        closeButton1.addEventListener("click", toggleModal1);
        closeButton.addEventListener("click", toggleModal);
        window.addEventListener("click", windowOnClick);
    </script> 
{% endblock %}

