{% extends 'common/base.html' %}
{% block title %}Sprint Summary{% endblock %}

{% block content %}
<head>
    <title> Sprint Summary </title>
    <link rel="stylesheet" type="text/css" href="/static/style/sprint.css">
</head>

<div class="content"> 
    <div class="center">
        <div class="first_progress_bar">
            <div class="progress-circle over50 p100">
               
                    <span>{{max_sprint_hours.max_effort_hour}}</span>
             
                    
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                    </div>
            </div>
            <text style = "margin: 0; font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">Maximum Effort Hour </text>
            <text style = "margin-left: 5px; font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">In A Sprint</text>
        
        </div>
        {% if existing_hour_percent >= 50 %}

        <div class="second_progress_bar">
            <div class="progress-circle over50 p{{existing_hour_percent}}">
                    <span>{{task_total_EH.effort_hour__sum}}</span>
                    <div class="left-half-clipper">
                        <div class="first50-bar"></div>
                        <div class="value-bar"></div>
                    </div>
            </div>
            <text style = "padding-left:2px; font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">Total Effort Hour</text>
            <text style = "padding-left:2px; font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">in Current Sprint</text>
        </div>


        {% else %}

        <div class="second_progress_bar">
            <div class="progress-circle  p{{existing_hour_percent}}">
                    <span>{{task_total_EH.effort_hour__sum}}</span>
                    <div class="left-half-clipper">
                        <div class="first50-bar"></div>
                        <div class="value-bar"></div>
                    </div>
            </div>
            <text style = "padding-left: 10px;font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">Existing Total </text>
            <text style = "padding-left: 15px;font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">Effort Hour </text>
        </div>


        {% endif %}
        
       
        {% if remaining_hours_percent >= 50 %}
        
        <div class="third_progress_bar">
            <div class="progress-circle over50 p{{remaining_hours_percent}}">
                    <span>{{remaining_hours}}</span>
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                    </div>
            </div>      
            <text style = "padding-left: 30px; font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">Remaining </text>
            <text style = "font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">Allowable Effort </text>
            <text style = "font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">Hour In A Sprint</text>
        </div>      
        {% else %}
        <div class="third_progress_bar">
            <div class="progress-circle p{{remaining_hours_percent}}">
                    <span>{{remaining_hours}}</span>
                    <div class="left-half-clipper">
                       <div class="first50-bar"></div>
                       <div class="value-bar"></div>
                    </div>
            </div>      
          
            <text style = "padding-left: 30px; font-family: Comic Sans MS, cursive, sans-serif; word-wrap: break-word;">Remaining Allowable Effort Hour In A Sprint </text>
            
        </div>   
        {% endif %}
        
            
    </div>

    <div class="progress">
            <div class="progress2">
                    <div class="box">
                        <div class="titlebox">
                            <b style="text-align: left; font-family: Comic Sans MS, cursive, sans-serif;">To do</b>
                            <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">
                                {{new_tasks_EH.effort_hour__sum}} hours
                                </span></b>                   
                        </div>
                    
                                                    
                        {% for task in new_tasks %}
                        <div class="titlebox2 trigger" >
                            <div class="task" style="margin:0; width:50%;display: inline-block">
                                <text style="text-align: left; font-size: 14px;word-wrap: break-word;">
                                    {{task.task_description}}
                                </text>
                            </div>
                            <div class= "functionality" style="width:50%; float: right; display: inline-block">
                                <a href="#" onclick="event.stopPropagation()"><i onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='block'" style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-trash-alt'></i></a>
                                <a href="#" onclick="event.stopPropagation()"><i onclick="document.getElementById('edit{{forloop.counter}}').style.display='block'"  style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-edit'></i></a>
                                <input readonly onclick="event.stopPropagation()" type = "number" name="EP" value = "{{task.effort_hour}}" style = " text-align: center; width: 20px; height: 10px; float:right; margin-right: 10px;padding-bottom: 5px">
                                <i onclick="event.stopPropagation()" class='far fa-user-circle' style="float:right; margin-right: 10px;"></i>
                                <input onclick="event.stopPropagation()" type="hidden" name="task_id" value= {{task.task_id}}>
                            </div>
                        </div>

                        <div class="pickupmodal" id="PickUpModal{{forloop.counter}}" >
                            <div class="pickupmodal-content">
                                <span class="close-button">&times;</span>
                                <button type="button">Pick Up This Task </button>
                            </div>
                        </div>

                        <div id="edit{{forloop.counter}}" class="modal"> 
                            <span onclick="document.getElementById('edit{{forloop.counter}}').style.display='none'" class="close" title="Close Modal">×</span> 
                            <form class="modal-content animate" action="{% url 'application:sprint_page_edit' %}" method= "POST"> 
                            {% csrf_token %}
                            <input type='hidden' name="project_id" value='{{task.pbi_id.project_id.project_id}}'>
                            <input type="hidden" name="sprint_num" value='{{task.pbi_id.sprint_number.sprint_number}}'>
                            <input type="hidden" name="pbi_id" value="{{task.pbi_id.pbi_id}}">
                                <div class="container"> 
                                    
                                    <div style="margin-bottom: 20px; margin-left: 45px;">
                                        <label>{{task.pbi_id.user_story}}
                                        </label><br>
                                    </div>
                                
                                
                                    <label><b>Tasks</b></label> 
                                    <input type="text"  name="task_description" placeholder="Nothing for not in sprint" value="{{task.task_description}}"> 
                                
                                    <label><b>Effort Hour</b></label> 
                                    <input type="number"  style="margin-top: 10px; border:1px solid grey " name="effort_hour" value={{task.effort_hour}} required> 
                            
                            
                                    <div class="clearfix"> 
                                        <button type="button" onclick="document.getElementById('edit{{forloop.counter}}').style.display='none'" class="cancelbtn">Cancel</button> 
                    
                                        <button type="submit" class="editbtn" name="task_id" value="{{task.task_id}}">Edit</button> 
                                    </div> 
                        
                                </div> 
                            </form> 
                        </div>   
                        {% endfor %}

    
                    </div>

                    
                    <div class="box">
                        <div class="titlebox">
                            <b style="text-align: left;font-family: Comic Sans MS, cursive, sans-serif;">In Progress</b>
                            <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">
                                {{in_progress_tasks_EH.effort_hour__sum}}
                                hours</span></b></b>
                        </div>
                       
               
                   
                        {% for task in in_progress_tasks %}
                        <div class="titlebox2 trigger1">
                            <div class="task" style="margin:0; width:50%;display: inline-block">
                                <text style="text-align: left; font-size: 14px;word-wrap: break-word;">
                                    {{task.task_description}}
                                </text>
                            </div>
                            <div class= "functionality" style="width:50%; float: right; display: inline-block">
                                <a href="#" onclick="event.stopPropagation()"><i onclick="document.getElementById('DeleteModal2{{forloop.counter}}' ).style.display='block'" style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-trash-alt'></i></a>
                                <a href="#" onclick="event.stopPropagation()"><i onclick="document.getElementById('edit2{{forloop.counter}}').style.display='block'"  style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-edit'></i></a>
                                <input readonly onclick="event.stopPropagation()" type = "number" name="EP" value ="{{task.effort_hour}}"  style = "text-align: center; width: 20px; height: 10px; float:right; margin-right: 10px;padding-bottom: 5px">
                                <i class='far fa-user-circle' style="float:right; margin-right: 10px;" onclick="event.stopPropagation()"></i>
                                <input type="hidden" name="task_id" value= {{task.task_id}} onclick="event.stopPropagation()">
                            </div>
                        </div>

                        <div class="pickupmodal1"  id="PickUpModal1{{forloop.counter}}">
                            <div class="pickupmodal-content1">
                                <span class="close-button1">&times;</span>
                                <button type="button">Drop This Task </button>
                                <button type="button">Mark as completed </button>
                            </div>
                        </div>

                        <div id="edit2{{forloop.counter}}" class="modal"> 
                            <span onclick="document.getElementById('edit2{{forloop.counter}}').style.display='none'" class="close" title="Close Modal">×</span> 
                            <form class="modal-content animate" action="{% url 'application:sprint_page_edit' %}" method= "POST">
                            {% csrf_token %}
                            <input type='hidden' name="project_id" value='{{task.pbi_id.project_id.project_id}}'>
                            <input type="hidden" name="sprint_num" value='{{task.pbi_id.sprint_number.sprint_number}}'>
                            <input type="hidden" name="pbi_id" value="{{task.pbi_id.pbi_id}}">
                            
                                <div class="container"> 
                                    
                                    <div style="margin-bottom: 20px; margin-left: 45px;">
                                        <label>{{task.pbi_id.user_story}}
                                        </label><br>
                                    </div>
                                
                                
                                    <label><b>Tasks</b></label> 
                                    <input type="text"  name="task_description" placeholder="Nothing for not in sprint" value="{{task.task_description}}"> 
                                
                                    <label><b>Effort Hour</b></label> 
                                    <input type="number"  style="margin-top: 10px; border:1px solid grey " name="effort_hour" value={{task.effort_hour}} required> 
                            
                            
                                    <div class="clearfix"> 
                                        <button type="button" onclick="document.getElementById('edit2{{forloop.counter}}').style.display='none'" class="cancelbtn">Cancel</button> 
                    
                                        <button type="submit" class="editbtn" name="task_id" value="{{task.task_id}}">Edit</button> 
                                    </div> 
                        
                                </div> 
                            </form> 
                        </div>   
                        {% endfor %}
                            
                       
                    </div>
                    
                    <div class="box"> 
                        <div class="titlebox">
                            <b style="text-align: left; font-family: Comic Sans MS, cursive, sans-serif;">&#10003; Completed</b>
                            <span style="float:right; padding-right: 5px; font-size: 13px; padding-top: 10px;">
                                {{completed_tasks_EH.effort_hour__sum}} hours
                                </span></b></b>
                    </div>
                   
               
                        {% for task in completed_tasks %}
                        <div class="titlebox2 trigger2">
                            <div class="task" style="margin:0; width:50%;display: inline-block">
                                <text style="text-align: left; font-size: 14px;word-wrap: break-word;">
                                    {{task.task_description}}
                                </text>
                            </div>
                            <div class= "functionality" style="width:50%; float: right; display: inline-block">
                                <a href="#" onclick="event.stopPropagation()"><i onclick="document.getElementById('DeleteModal3{{forloop.counter}}' ).style.display='block'" style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-trash-alt'></i></a>
                                <a href="#" onclick="event.stopPropagation()"><i onclick="document.getElementById('edit3{{forloop.counter}}').style.display='block'"  style="color: black; width:auto;float:right; margin-right: 10px;" class='far fa-edit'></i></a>
                                <input readonly onclick="event.stopPropagation()" type = "number" name="EP" value = "{{task.effort_hour}}" style = " text-align: center; width: 20px; height: 10px; float:right; margin-right: 10px;padding-bottom: 5px">
                                <i onclick="event.stopPropagation()" class='far fa-user-circle' style="float:right; margin-right: 10px;"></i>
                                <input onclick="event.stopPropagation()" type="hidden" name="task_id" value= {{task.task_id}}>
                            </div>
                        </div>

                        <div class="pickupmodal2" id="PickUpModal2{{forloop.counter}}">
                            <div class="pickupmodal-content2">
                                <span class="close-button2">&times;</span>
                                <button type="button">Mark as in progress</button>
                            </div>
                        </div>

                        <div id="edit3{{forloop.counter}}" class="modal"> 
                            <span onclick="document.getElementById('edit3{{forloop.counter}}').style.display='none'" class="close" title="Close Modal">×</span> 
                            <form class="modal-content animate" action="{% url 'application:sprint_page_edit' %}" method= "POST"> 
                            {% csrf_token %}
                            <input type='hidden' name="project_id" value='{{task.pbi_id.project_id.project_id}}'>
                            <input type="hidden" name="sprint_num" value='{{task.pbi_id.sprint_number.sprint_number}}'>
                            <input type="hidden" name="pbi_id" value="{{task.pbi_id.pbi_id}}">
                            
                                <div class="container"> 
                                    
                                    <div style="margin-bottom: 20px; margin-left: 45px;">
                                        <label>
                                            {{task.pbi_id.user_story}}
                                        </label><br>
                                    </div>
                                
                                
                                    <label><b>Tasks</b></label> 
                                    <input type="text"  name="task_description" placeholder="Nothing for not in sprint" value="{{task.task_description}}"> 
                                
                                    <label><b>Effort Hour</b></label> 
                                    <input type="number"  style="margin-top: 10px; border:1px solid grey " name="effort_hour" value={{task.effort_hour}} required> 
                            
                
                                    <div class="clearfix"> 
                                        <button type="button" onclick="document.getElementById('edit3{{forloop.counter}}').style.display='none'" class="cancelbtn">Cancel</button>           
                                        <button type="submit" class="editbtn" name="task_id" value="{{task.task_id}}">Edit</button> 
                                    </div> 
                        
                                </div> 
                            </form> 
                        </div>   
                        {% endfor %}


                    </div>         
                                   
                 </div>

               

    </div>

    <div id="edit" class="modal"> 
        <span onclick="document.getElementById('edit').style.display='none'" class="close" title="Close Modal">×</span> 
        <form class="modal-content animate" action="{% url 'application:editData' %}" method= "POST"> 
        <input type='hidden' name="project_id" value='{{project_id}}'>
            <div class="container"> 
                
                <div style="margin-bottom: 20px; margin-left: 45px;"><label>Display corresponding user story here</label><br></div>
            
          
                <label><b>Tasks</b></label> 
                <input type="text"  name="sprint_num" placeholder="Nothing for not in sprint" value={{pbi.sprint_number.sprint_number}}> 
          
                <label><b>Effort Hour</b></label> 
                <input type="number" style="margin-top: 10px; border:1px solid grey " name="story_points" value={{pbi.story_point}} required> 
        
        
                <div class="clearfix"> 
                    <button type="button" onclick="document.getElementById('edit').style.display='none'" class="cancelbtn">Cancel</button> 

                    <button type="submit" class="editbtn" name="pbi_id" value="{{pbi.pbi_id}}">Edit</button> 
                </div> 
    
            </div> 
        </form> 
    </div>   

    {% for task in new_tasks %}
    <div id="DeleteModal{{forloop.counter}}" class="modal" role="dialog">
            <span onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='none'" class="close" title="Close Modal">×</span> 
              <!-- Modal content-->
              <form action="{% url 'application:sprint_page_delete' %}" id="deleteForm" method="POST" class="modal-content1">
                {% csrf_token %}
                  <div class="container1">
                      <div class="modal-header">
                        <center>
                            <h4 class="modal-title">DELETE CONFIRMATION</h4>
                        </center>
                      </div>

                      <div class="modal-body">
                        <center>
                          <p class="text-center">Are You Sure Want To Delete ?</p>
                        </center> 
                      </div>

                      <div class="clearfix"> 
                          <center>
                            <button type="button" onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='none'"  class="cancelbtn">Cancel</button>
                            
                            <button type="submit" onclick="document.getElementById('DeleteModal{{forloop.counter}}').style.display='none'" class="deletebtn" data-dismiss="modal" >Yes, Delete</button>   
                          </center>
                      </div>
                      
                      <input name="sprint_num" value={{max_sprint_hours.sprint_number}} type="hidden">
                      <input type="hidden" name="project_id_" value = {{task.pbi_id.project_id.project_id}}>
                      
                      <input name="task_id" value={{task.task_id}} type="hidden">
                      

                  </div>
              </form>
    </div>
    {% endfor %}

    {% for task in in_progress_tasks %}
    <div id="DeleteModal2{{forloop.counter}}" class="modal" role="dialog">
            <span onclick="document.getElementById('DeleteModal2{{forloop.counter}}').style.display='none'" class="close" title="Close Modal">×</span> 
              <!-- Modal content-->
              <form action="{% url 'application:sprint_page_delete' %}" id="deleteForm" method="POST" class="modal-content1">
                {% csrf_token %}
                  <div class="container1">
                      <div class="modal-header">
                        <center>
                            <h4 class="modal-title">DELETE CONFIRMATION</h4>
                        </center>
                      </div>

                      <div class="modal-body">
                        <center>
                          <p class="text-center">Are You Sure Want To Delete ?</p>
                        </center> 
                      </div>

                      <div class="clearfix"> 
                          <center>
                            <button type="button" onclick="document.getElementById('DeleteModal2{{forloop.counter}}').style.display='none'"  class="cancelbtn">Cancel</button>
                            
                            <button type="submit" onclick="document.getElementById('DeleteModal2{{forloop.counter}}').style.display='none'" class="deletebtn" data-dismiss="modal" >Yes, Delete</button>   
                          </center>
                      </div>
                      <input name="sprint_num" value={{max_sprint_hours.sprint_number}} type="hidden">
                      <input type="hidden" name="project_id_" value = {{task.pbi_id.project_id.project_id}}>
                      <input name="task_id" value={{task.task_id}} type="hidden">
                      

                  </div>
              </form>
    </div>
    {% endfor %}

    {% for task in completed_tasks %}
    <div id="DeleteModal3{{forloop.counter}}" class="modal" role="dialog">
            <span onclick="document.getElementById('DeleteModal3{{forloop.counter}}').style.display='none'" class="close" title="Close Modal">×</span> 
              <!-- Modal content-->
              <form action="{% url 'application:sprint_page_delete' %}" id="deleteForm" method="POST" class="modal-content1">
                {% csrf_token %}
                  <div class="container1">
                      <div class="modal-header">
                        <center>
                            <h4 class="modal-title">DELETE CONFIRMATION</h4>
                        </center>
                      </div>

                      <div class="modal-body">
                        <center>
                          <p class="text-center">Are You Sure Want To Delete ?</p>
                        </center> 
                      </div>

                      <div class="clearfix"> 
                          <center>
                            <button type="button" onclick="document.getElementById('DeleteModal3{{forloop.counter}}').style.display='none'"  class="cancelbtn">Cancel</button>
                            
                            <button type="submit" onclick="document.getElementById('DeleteModal3{{forloop.counter}}').style.display='none'" class="deletebtn" data-dismiss="modal" >Yes, Delete</button>   
                          </center>
                      </div>
                      <input name="sprint_num" value={{max_sprint_hours.sprint_number}} type="hidden">
                      <input type="hidden" name="project_id_" value = {{task.pbi_id.project_id.project_id}}>
                      <input name="task_id" value={{task.task_id}} type="hidden">
                      

                  </div>
              </form>
    </div>
    {% endfor %}

    
    
</div>

<script>
    var modal = new Array();
        var closeButton = new Array();
        var modal2 = new Array();
        var closeButton1 = new Array();
        var modal3 = new Array();
        var closeButton2 = new Array();


       for (var i=1; i<= {{new_tasks|length}}; i++){
         modal[i] = document.querySelector("#PickUpModal"+i);
         closeButton[i] = $(modal[i]).find(".close-button");
        $(closeButton[i]).attr("onclick", "toggleModal("+i.toString()+")");
       }

       document.querySelectorAll(".trigger").forEach(itemFunction);
            
       function itemFunction(item, index){
           var index = index+1;
           item.setAttribute("onclick", "toggleModal("+index.toString()+")");
       }
        

       for (var i=1; i<={{in_progress_tasks|length}};i++){
        modal2[i] = document.querySelector("#PickUpModal1"+i);
        closeButton1[i] = $(modal2[i]).find(".close-button1");
        $(closeButton1[i]).attr("onclick", "toggleModal1("+i.toString()+")");

       }

        document.querySelectorAll(".trigger1").forEach(itemFunction1);

        function itemFunction1(item, index){
           var index = index+1;
           item.setAttribute("onclick", "toggleModal1("+index.toString()+")");
       }

       for (var i=1; i<={{completed_tasks|length}};i++){
        modal3[i] = document.querySelector("#PickUpModal2"+i);
        closeButton2[i] = $(modal3[i]).find(".close-button2");
        $(closeButton2[i]).attr("onclick", "toggleModal2("+i.toString()+")")

       }


        document.querySelectorAll(".trigger2").forEach(itemFunction3);
        
        function itemFunction3(item, index){
           var index = index+1;
           item.setAttribute("onclick", "toggleModal2("+index.toString()+")");
       }

     

        function toggleModal(index) {
            var value= parseInt(index);
            modal[value].classList.toggle("show-pickupmodal");
        }

        function toggleModal1(index) {
            var value= parseInt(index);
            modal2[value].classList.toggle("show-pickupmodal1");
        }

        function toggleModal2(index) {
            var value= parseInt(index);
            modal3[value].classList.toggle("show-pickupmodal2");
        }

        function windowOnClick(event) {
            for (var i=0; i<= {{new_tasks|length}}; i++){
                if (event.target === modal[i]) {
                    toggleModal(i.toString());
                }
            }

            for (var i=1; i<={{in_progress_tasks|length}};i++){
                if (event.target === modal2[i]) {
                    toggleModal1(i.toString());
                }
            }

            for (var i=1; i<={{completed_tasks|length}};i++){
                if (event.target === modal3[i]) {
                    toggleModal2(i.toString());
                }
            }
        }

        window.addEventListener("click", windowOnClick);
    
</script>



{% endblock %}

