{% extends 'common/base.html' %}

{% block content %}


<head>
    <title> Sprint 1 </title>
    <link rel="stylesheet" type="text/css" href="/static/style/styleS1.css">
</head>

<div class="content"> 
    <div>
            <table> 
                    <tr>
                        <th style="font-size: 30px;">Total Effort Hours</th>
                    </tr>
                    <tr>
                        <td style="font-size: 50px;" >19</td>
                    </tr>
            </table>
        
            <table> 
                    <tr>
                        <th style="font-size: 30px;">Story Points Assigned</th>
                    </tr>
                    <tr>
                        <td style="font-size: 50px;" >11</td>
                    </tr>
            </table>
        
            <img src="/static/assets/storystatus.png" alt="story_status" width="300" height="200">
            
    </div>
    
</div>



{% endblock %}
